<!-- <app-user-form></app-user-form>

<br><br><br><br><br> -->
<!-- <input type="text" class="form-control"/> -->

<!-- <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p> -->

<!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr />

<button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<hr />

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre> -->

<!-- <div class="input-group">
  <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="newItem.EndTime"  ngbDatepicker #d1="ngbDatepicker" required>
  <div class="input-group-addon" (click)="d1.toggle()" >
      <i class="fa fa-calendar" aria-hidden="true"></i>
  </div>
</div> -->

<!-- <div style="padding: 50px;">
  <div style="display: flex; gap:20px; width: 500px;  margin-bottom: 30px;">
    <input type="date" placeholder="Start date" class="form-control"/>
    <input type="date" placeholder="End date" class="form-control"/>
	<button class="btn btn-success" style="float: right;" [routerLink]="['/user']">Add New</button>
  </div>
<table class="table table-striped" style="border: 1px solid black">
	<thead>
		<tr>
      <th scope="col">Sr.</th>
			<th scope="col">Action</th>
			<th scope="col">Name of the Assignor</th>
			<th scope="col">Date of Agreement</th>
			<th scope="col">Territories</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of countries; index as i">
			<th scope="row">{{ i + 1 }}</th>
      <td>
        <div style="display: flex; gap: 15px;">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
      </td>
			<td>
				<img
					[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
					class="me-2"
					style="width: 20px"
				/>	
				{{ country.name }}
			</td>
			<td>{{ country.area }}</td>
			<td>{{ country.population }}</td>
		</tr>
	</tbody>
</table>
</div> -->

<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<a ngbNavLink>One</a>
		<ng-template ngbNavContent>
			<p>
				Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
				master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
				keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
				salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Two</a>
		<ng-template ngbNavContent>
			<p>
				Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
				farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
				ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
				helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
				8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
				stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Three</a>
		<ng-template ngbNavContent>
			<p>
				Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
				Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
				Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
				egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
				tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
				magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
				neque. Phasellus nec tortor vel tellus pulvinar feugiat.
			</p>
		</ng-template>
	</li>
</ul> -->

<!-- <div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>

<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card> -->

<router-outlet></router-outlet>